.com-avatar {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.com-avatar .avatar {
	display: inline-block;
	
	width: 100%;

	border-radius: 50%;

	background-color: rgba(245, 245, 245, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	cursor: pointer;
}

.com-avatar .dname {
	position: relative;
	
	width: 120%;
	left: -10%;
	
	line-height: 1.3;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	font-size: 1em;
	font-weight: bold;
	color: rgb(149, 149, 149);
}
