.com-avatar {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.com-avatar .avatar {
	display: inline-block;

	border-radius: 50%;

	background-color: rgba(245, 245, 245, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	cursor: pointer;
}

.com-avatar .dname {
	font-size: 1em;
}
