/* club */

.com-club-popview {
    
}

.com-club-search .input {
    width: 100%;
    height: 3.7rem;
}

.com-club-search .input .prompt {
    border-width: 0 0 0 5px;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.com-club-popview .pop-cont,
.com-club-create .cont {
    position: relative;
    
    width: 100%;
    
    padding: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.com-club-popview .club-list {
    margin-top: 2rem;
}

.com-club-popview .club-find-list {
    display: none;
}

.com-club-popview.find-mode .club-find-list {
    display: block;
}

.com-club-popview.find-mode .club-self-list {
    display: none;
}

/* club create */

.com-club-create {
    
}

.com-club-create .cont {
    padding: 2rem;
}

/* member list */

.com-club-memlist .member-search {
    margin-bottom: 2rem;
}

.com-club-memlist .action-bar {
    margin-bottom: 2rem;
}

.com-club-memlist .member-item {
    padding: 1rem;
    
    height: 5.5rem;
    
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    
    color: rgba(130, 130, 130, 1);
    background: white;
    
    cursor: pointer;
    
    border-bottom-width: 0;
    
    overflow: hidden;
    
    transition: border-color 0.3s, height 0.3s;
}

.com-club-memlist .member-item>.bar {
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.com-club-memlist .member-item .join-time {
    color: #CCCCCC;
    font-weight: bold;
    margin-right: 0.5rem;
}

.com-club-memlist .member-item.self .chat-btn {
    visibility: hidden;
}

.com-club-memlist .member-item:hover {
    border-color: rgba(0, 0, 0, 0.14);
}

.com-club-memlist .member-item:hover+.member-item {
    border-top-color: rgba(0, 0, 0, 0.14);
}

.com-club-memlist .member-item:active {
    border-color: rgba(0, 0, 0, 0.22);
}

.com-club-memlist .member-item:active+.member-item {
    border-top-color: rgba(0, 0, 0, 0.22);
}

.com-club-memlist .member-item.selected {
    border-color: #3498DB !important;
    height: 20rem;
}

.com-club-memlist .member-item.selected+.member-item {
    border-top-color: #3498DB !important;
}

.com-club-memlist .member-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.com-club-memlist .member-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    border-bottom-width: 1px;
}

.com-club-memlist .member-item .avatar {
    height: 3.5rem;
    width: 3.5rem;
    
    border-radius: 4px;
    
    background-color: rgba(245, 245, 245, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    margin-right: 1rem;

    cursor: pointer;
    
    opacity: 1;
    
    transition: opacity 0.3s;
}

.com-club-memlist .member-item .avatar:hover {
    opacity: 0.7;
}

.com-club-memlist .member-item .avatar:active {
    opacity: 0.9;
}

.com-club-memlist .member-item .dname {
    font-size: 1.3rem;
    
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    margin-right: 0.7rem;
}

.com-club-memlist .member-item .expand {
    -webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.com-club-memlist .member-item .toolbar {
    
}

.com-club-memlist .member-item .only-apply {
    display: none;
}

.com-club-memlist .member-item.apply .only-apply {
    display: initial;
}

.com-club-memlist .member-item.apply .not-apply {
    display: none !important;
}

.com-club-memlist .member-item.self .not-self {
    display: none !important;
}

.com-club-memlist .member-item .toolbar .toolbtn {
    margin-right: 0.7rem !important;
    font-size: 1.3rem;
    
    cursor: pointer;
    color: rgba(130, 130, 130, 1);
    
    transition: color 0.3s;
}

.com-club-memlist .member-item .toolbar .toolbtn:hover {
    color: rgba(150, 150, 150, 1);
}

.com-club-memlist .member-item .toolbar .toolbtn:active {
    color: rgba(110, 110, 110, 1);
}

@media only screen and (max-width: 640px) {
    .com-club-memlist .member-item .dname {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .com-club-memlist .member-item .expand {
        display: none;
    }

    .com-club-memlist .member-item .toolbar {
        display: none;
    }

    .com-club-memlist .member-item .toolbar:last-child {
        margin-right: 0;
    }
}

.com-club-memlist .no-login-prompt {
    display: none;
}

.com-club-memlist.no-login .no-login-prompt {
    display: block;
    
    font-weight: bold;
    color: #CCCCCC;
    text-align: center;
}

.com-club-memlist .club-only-admin {
    display: none;
}

.com-club-memlist.admin .club-only-admin {
    display: initial;
}

.com-club-memlist .member-item .expand-cont {
    display: none;
}

.com-club-memlist.admin .member-item .expand-cont {
    display: block;
    padding-top: 1rem;
    cursor: initial;
}

.com-club-memlist .member-item .expand-cont .prompt {
    display: inline-block;
    font-weight: bold;
    color: #CCCCCC;
    
    margin-right: 0.5rem;
}

.com-club-memlist .member-item .expand-cont .prompt,
.com-club-memlist .member-item .expand-cont .comment {
}

.com-club-memlist .load-prompt {
    text-align: center;
    color: #CCCCCC;
    font-weight: bold;
    margin-top: 1rem;
}

.com-club-memlist .load-prompt.load-more {
    color: #2980B9;
    cursor: pointer;
    opacity: 0.7;
    transition: color 0.2s;
}

.com-club-memlist .load-prompt.load-more:hover {
    color: #3498DB;
}

@media only screen and (max-width: 640px) {
    .com-club-memlist .member-search {
        margin-bottom: 1rem;
    }
    
    .com-club-memlist .ui.form .field {
        margin-top: 1rem;
    }
    
    .com-club-memlist .ui.form .field:first-child {
        margin-top: 0;
    }
    
    .com-club-memlist .action-bar {
        margin-bottom: 1rem;
    }
    
    .com-club-memlist .member-item {
        padding: 1rem;
        height: 4.5rem;
    }
    
    .com-club-memlist .member-item .dname {
        width: auto;
        font-size: 1.1rem;
    }
    
    .com-club-memlist .member-item .avatar {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
    }
    
    .com-club-memlist .member-item .toolbar .icon {
        font-size: 1rem;
        margin-right: 0.3rem !important;
    }
}

.com-club-badge {
    display: inline-block;
    
    border-radius: 3px;
    padding: 0.3em 0.7em;
    
    line-height: 1.3;
    
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: white;
    background: rgb(129, 129, 129);
    
    margin-right: 0.5em;
    
    font-size: 0.9em;
}

@media only screen and (max-width: 640px) {
    .com-club-badge {
        font-size: 0.7em;
    }
}

.com-club-badge.creator {
    background: #2ECC71;
}

.com-club-badge.admin {
    background: #3498DB;
}

.com-club-badge.apply {
    background: #E74C3C;
}

.com-club-badge.self {
    background: #1ABC9C;
}

/* club entry */

.com-club-entry {
    display: inline-block;
    position: relative;
    
    width: 5rem;
    
    margin: 0 1rem 1rem 0;
    
    cursor: pointer;
    
    opacity: 1;
    text-align: center;
    
    vertical-align: top;
    
    transition: opacity 0.2s;
}

.com-club-entry:last-child {
    margin-right: 0 !important;
}

.com-club-entry:hover {
    opacity: 0.8;
}

.com-club-entry:active {
    opacity: 0.9;
}

/* .com-club-entry.review:hover,
.com-club-entry.review:active {
    opacity: 1;
}

.com-club-entry.review {
    cursor: default;
} */

.com-club-entry .club-logo {
    position: relative;
    
    height: 5rem;
    width: 100%;
    line-height: 5rem;
    
    overflow: hidden;
    
    border-radius: 5px;
    
    border: 1px solid rgba(0, 0, 0, 0.04);

    background-color: rgba(245, 245, 245, 1);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.com-club-entry .club-logo .loader {
    display: none;
}

.com-club-entry.loading .club-logo .loader {
    display: block;
}

.com-club-entry.loading .club-logo .icon {
    display: none;
}

.com-club-entry .club-logo .state-overlay {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%;
    height: 100%;

    color: white;
    font-size: 1.8rem;
}

.com-club-entry.review .club-logo .state-overlay {
    background: rgba(52, 152, 219, 0.4);
}

.com-club-entry.rejected .club-logo .state-overlay {
    background: rgba(231, 76, 60, 0.4);
}

.com-club-entry.operate .club-logo .state-overlay {
    display: none;
}

.com-club-entry .badge,
.com-club-entry .checkbox,
.com-club-entry .delete-btn {
    position: absolute;
    
    display: none;
    
    right: -7px;
    top: -7px;
    
    width: 23px;
    height: 23px;
    line-height: 23px;
    border-radius: 50%;
    
    text-align: center;
    
    background: #E74C3C;
    color: white;

    cursor: pointer;
    font-size: 0.8rem;
    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    transition: background 0.3s;
}

.com-club-entry.select .checkbox {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    
    border-radius: 4px;
    border: 1px solid rgba(0 ,0, 0, 0.08);
    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    
    transition: opacity 0.2s;
}

.com-club-entry.select .checkbox .icon {
    color: #3498DB;
    font-size: 1.05rem;
    
    visibility: hidden;
    opacity: 0;
    
    transition: opacity 0.2s;
}

.com-club-entry.select .checkbox.selected .icon {
    visibility: visible;
    opacity: 1;
}

.com-club-entry.select:hover .checkbox,
.com-club-entry.select .checkbox.selected {
    right: auto;
    left: -7px;
    
    opacity: 1;
    visibility: visible;

    background: rgb(251, 251, 251) !important;
}

.com-club-entry .badge {
    background: #3498DB;
}

.com-club-entry.show-badge .badge {
    display: block;
}

.com-club-entry.rejected .badge,
.com-club-entry.review .badge {
    display: none;
}

.com-club-entry .badge.frozen {
    background: #E74C3C;
}

.com-club-entry .delete-btn:hover {
    background: #E37A6F;
}

.com-club-entry .delete-btn:active {
    background: #E83927;
}

.com-club-entry.rejected .delete-btn,
.com-club-entry.review .delete-btn {
    display: block;
}

.com-club-entry .club-logo>.icon {
    color: rgb(149, 149, 149);
    font-size: 1.5rem;
}

.com-club-entry .club-name {
    position: relative;
    
    width: 100%;
    left: 0;
    
    line-height: 1.5;
    
    margin-top: 0.5rem;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    font-weight: bold;
    color: rgb(149, 149, 149);
}

/* club list */

.com-club-list .empty-prompt {
    display: none;
    
    font-weight: bold;
    text-align: center;
    color: #CCCCCC;
}

.com-club-list.empty .empty-prompt {
    display: block;
}

/* club review info */

.com-club-review-info {
    padding: 2rem;
    color: rgba(70, 70, 70, 1);
}

.com-club-review-info .header-info {
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    
    margin-bottom: 1rem;
}

.com-club-review-info .header-info .logo {
    width: 5rem;
    height: 5rem;
    
    border-radius: 5px;
    
    border: 1px solid rgba(0, 0, 0, 0.08);
    
    background-color: rgb(245, 245, 245);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
}

.com-club-review-info .header-info .name-creator {
    margin-left: 1rem;
    
    -webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.com-club-review-info .header-info .name-creator .dname {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.com-club-review-info .header-info .name-creator .school,
.com-club-review-info .header-info .name-creator .creator {
    color: rgba(120, 120, 120, 1);
    line-height: 1.3;
}

.com-club-review-info .prompt {
    color: rgba(150, 150, 150, 1);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.com-club-review-info .seg {
    margin-bottom: 1rem;
}

.com-club-review-info .seg:last-child {
    margin-bottom: 0;
}
