/* copyright */

.com-copyright {
    padding: 1rem;
    color: #B3B3B3;
    line-height: 1.7;
}

.com-copyright a {
    color: #B3B3B3;
    transition: color 0.3s;
}

.com-copyright a:hover {
    color: #3498DB;
}
