/* com event show case */

.com-event-showcase {
    position: relative;
    width: 100%;
    height: 15.7em;

    overflow: hidden;

    transition: box-shadow 0.3s, height 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.com-event-showcase .show-info {
    height: 100%;
    width: 100%;
    background: white;
    padding: 2em;
    text-align: left;

    overflow: hidden;

    cursor: pointer;
    transition: opacity 0.3s, padding 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.com-event-showcase .show-info:hover {
    opacity: 0.9;
}

.com-event-showcase .show-info .show-title {
    font-size: 1.4em;
    font-weight: bold;
    font-family: foci-title;
    padding-bottom: 0.7rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.com-event-showcase .show-info .show-descr {
    color: #757575;
    font-size: 1.2em;
    word-wrap: break-word;
}

.com-event-showcase .show-cover {
    z-index: 1;
    
    position: absolute;
    top: 0;
    width: 15em;
    height: 100%;

    background-color: rgba(250, 250, 250, 1);

    cursor: pointer;

    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
    
    box-shadow: 0 0 0 black inset;
    
    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1),
                box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.com-event-showcase.img-right .show-cover {
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.com-event-showcase.img-right .show-info {
    padding-right: 18em;
}

.com-event-showcase.img-left .show-cover {
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.com-event-showcase.img-left .show-info {
    padding-left: 18em;
}

.com-event-showcase .show-toolbar {
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 0.7em;

    box-shadow: 0 -10px 1em white;

    color: #9D9D9D;
    background: white;
}

.com-event-showcase .loc-bar {
    -webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
    
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.com-event-showcase .info-icon {
    font-size: 1.1em;
}

@media only screen and (max-width: 768px) {
    .com-event-showcase.img-left .show-info {
        padding-left: 13em;
    }

    .com-event-showcase.img-right .show-info {
        padding-right: 13em;
    }

    .com-event-showcase .show-cover {
        width: 10em;
    }
}

@media only screen and (min-width: 481px) {
    .com-event-showcase:hover {

    }
    
    .com-event-showcase:hover .show-cover {
        width: 3rem;
    }
    
    .com-event-showcase:hover .show-info {    
        padding-left: 5em;
    }
    
    .com-event-showcase:hover .show-cover:hover {
        width: 24em;
    }
    
    .com-event-showcase:hover .show-cover:hover+.show-info {
        padding-left: 26em;
    }
}

@media only screen and (max-width: 480px) {
    .com-event-showcase {
        height: auto;
    }

    .com-event-showcase .show-cover {
        left: 0;
        width: 100%;
        height: 15em;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .com-event-showcase .show-info {
        padding: 17em 2em 2em 2em !important;
    }

    .com-event-showcase .show-info .show-title {
        padding-bottom: 0.4rem;
    }

    .com-event-showcase .show-toolbar {
        position: relative;
        margin-top: 2em;
        padding-bottom: 1em;
    }
}
