/* com event */

.com-event {
	position: relative;
	width: 100%;
	height: 100%;

	transition: opacity 0.3s;
}

.com-event.hide {
	opacity: 0;
	pointer-events: none;
}

.com-event .sortby {}

.com-event .com-event-single {
	position: absolute;

	top: 0;
	left: 0;

	text-align: left;
	overflow: visible;

	border-radius: 3px !important;

	border: 1px solid rgba(0, 0, 0, 0.08);

	box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.04) !important;

	transition: opacity 0.3s, box-shadow 0.3s;
}

.com-event .com-event-single:hover {
	box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.08) !important;
}

.com-event-single .cover {
	position: relative;
	cursor: pointer;

	width: 100%;
	height: 12em;
	overflow: hidden;

	border-radius: 3px 3px 0 0;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	transition: opacity 0.3s;
}

/* .com-event-single .cover {
	position: relative;
	width: 100%;
} */

.com-event-single .title {
	display: inline-block;
	width: 100%;
	max-height: 5rem;
	
	word-wrap: break-word;
	
	overflow: hidden;
	text-overflow: ellipsis;

	padding-right: 4.5rem;

	font-size: 1.2em;
	font-weight: bold;
	color: #595959 !important;
}

.com-event-single .title:hover {
	color: #404040 !important;
}

.com-event-single .content {
	position: relative;
	padding: 1.1em !important;
}

.com-event-single .flags {
	position: absolute;
	top: 1.1em;
	right: 1em;

	opacity: 1;

	user-select: none;
	-moz-user-select: none;
	cursor: pointer;

	transition: opacity 0.3s;
}

.com-event-single .logo {
	position: absolute;
	right: 2rem;
	top: -2rem;
	height: 5rem; width: 5rem;
	line-height: 5rem;
	text-align: center;

	border-radius: 50%;

	background-color: rgba(250, 250, 250, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	cursor: pointer;

	box-shadow:
		0 0 1px rgba(0, 0, 0, 0.4),
		0 0 15px rgba(0, 0, 0, 0.06);
}

.com-event-single .logo i {
	font-size: 1.4rem;
	color: #808080;
	margin: 0 !important;

	opacity: 1;
	transition: opacity 0.3s;
}

.com-event-single .logo:hover i {
	opacity: 0.6;
}

.com-event-single .logo:active i {
	opacity: 0.8;
}

.com-event-single .flags:hover {
	opacity: 0.7;
}

.com-event-single .flag {
	background: white;
	border-radius: 3px;
	font-size: 0.8em;

	width: 4.2rem;
	text-align: center;

	color: #4D4D4D;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.com-event-single .flag-name {
	padding: 5px 6px;
}

.com-event-single .flag-rating {
	font-weight: bold;
	padding: 4px 6px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.com-event-single .flag.blue,
.com-event-single .flag.blue .flag-rating {
	color: #2980B9;
	border-color: #3498DB;
}

.com-event-single .flag.green,
.com-event-single .flag.green .flag-rating {
	color: #27AE60;
	border-color: #2ECC71;
}

.com-event-single .flag.yellow,
.com-event-single .flag.yellow .flag-rating {
	color: #F39C12;
	border-color: #F1C40F;
}

.com-event-single .flag.purple,
.com-event-single .flag.purple .flag-rating {
	color: #9B59B6;
	border-color: #8E44AD;
}

.com-event-single .description {
	cursor: pointer;
	word-wrap: break-word;
	color: #999999 !important;
	margin-top: 1em !important;
}

.com-event-single .ext-btn-set {
	float: right;
	font-size: 1.1rem;
}

.com-event-single .ext-btn-set i {
	margin: 0 0 0 5px !important;
	cursor: pointer;
}

.com-event-single .ext-btn-set i:hover {
	color: rgba(0, 0, 0, 0.30);
}

.com-event-single .description:hover {
	color: #808080 !important;
}

.com-event .flow-loader {
	padding-top: 1em;
	padding-bottom: 2em;
}

.com-event .flow-loader .prompt {
	text-align: center;
	color: #CCCCCC;
	font-weight: bold;
}

.com-event-single .status-shadow {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;

	color: white;

	line-height: 12em;
	text-align: center;

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.3s, background 0.3s;
}

.com-event-single .status-shadow .prompt .icon {
	vertical-align: middle;
	font-size: 3rem;
	line-height: normal;
}

.com-event-single .status-shadow .prompt span {
	font-weight: bold;
}

.com-event-single .status-shadow .prompt {
	font-size: 1.5rem;
	display: none;
}

.com-event-single.accept .status-shadow {
	opacity: 1;
	pointer-events: auto;
	background: rgba(46, 204, 113, 0.7);
}

.com-event-single.accept .status-shadow .accept.prompt {
	display: inline-block;
}

.com-event-single.decline .status-shadow {
	opacity: 1;
	pointer-events: auto;
	background: rgba(231, 76, 60, 0.7);
}

.com-event-single.decline .status-shadow .decline.prompt {
	display: inline-block;
}

.com-event-single.pending .status-shadow {
	opacity: 1;
	pointer-events: auto;
	background: rgba(52, 152, 219, 0.7);
}

.com-event-single.pending .status-shadow .pending.prompt {
	display: inline-block;
}

.com-event-single .status-shadow .status-prompt {
	font-family: inherit;
	font-size: 1rem;
	line-height: normal;
}
