/* com user bar */

.com-event {
	position: relative;
	width: 100%;
	height: 100%;

	transition: opacity 0.3s;
}

.com-event.hide {
	opacity: 0;
	pointer-events: none;
}

.com-event .event {
	position: absolute;
	
	top: 0;
	left: 0;

	text-align: left;

	border-radius: 3px !important;

	box-shadow:
		0 0 1px rgba(0, 0, 0, 0.1),
		0 0 10px rgba(0, 0, 0, 0.05) !important;

	transition: opacity 0.3s;
}

.com-event .image {
	cursor: pointer;
	max-height: 23em;
	overflow: hidden;
}

.com-event .image img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-event .description {
	cursor: pointer;
	word-wrap: break-word;
}

.com-event .flow-loader {
	padding-top: 1em;
	padding-bottom: 2em;
}

.com-event .flow-loader .prompt {
	text-align: center;
	color: #CCCCCC;
	font-weight: bold;
}
