.com-form {
	padding: 2rem;
}

.com-form .title {
	font-size: 2em;
	font-weight: bold;

	text-align: center;
	margin-bottom: 1rem;

	padding: 1rem 0;

	opacity: 0.9;
}

.com-form .ui.form .fields {
	margin-bottom: 0 !important;
}

.com-form .ui.form .field {
	margin-bottom: 0.5rem !important;
}

.com-form .ui.form .header {
	opacity: 0.5;
}

.com-form .ui.form .field>label {
	color: rgba(0, 0, 0, 0.6) !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.com-form .ui.form .header {
	position: relative;
}

.com-form .ui.form .block {
	margin-bottom: 1rem;
}

.com-form .ui.form .add-block-btn {
	width: 100%;
	height: 5rem;
}

.com-form .ui.form .field {
	position: relative;
}

.com-form .ui.form .field>input {
	height: 3rem;
}

.com-form .ui.form label.no-edit {
	border: 2px solid transparent;
}

.com-form .ui.form .add-group-btn {
	width: 100%;
	height: 3rem;
}

.com-form .ui.form .add-field-btn {
	height: 3rem;
	width: 100%;
}

.com-form .ui.form .one.fields .field {
	width: 100%;
}

.com-form .ui.form .del-btn {
	position: absolute;
	
	top: 0; right: 0;

	margin: 0 !important;
	padding: 0 0.5rem !important;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0 3px 3px 0 !important;
	font-size: 1rem;

	box-sizing: border-box;

	text-align: center;
}

.com-form .ui.form .field .del-btn {
	right: 0.5em;
}

.com-form .ui.form .header .del-btn {
	top: -2px; right: -2px;
}

.com-form .ui.form .no-save .del-btn {
	display: none;
}

.com-form.on-edit .ui.form .header {
	opacity: 1;
}

.com-form.on-edit .ui.form .header {
	padding: 0.5rem;
}

.com-form.on-edit .ui.form .field>label {
	padding: 0.5rem;
}
