.com-tagbox-imgtag {
    position: relative;

    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;

    border-radius: 4px;
}

.com-tagbox-imgtag .imgtag-cont {
    position: relative;
    left: -1px;
    top: -1px;
}

.com-tagbox-imgtag .imgtag {
    display: inline-block;

    vertical-align: middle;
    border: 1px solid transparent;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
}

.com-tagbox-imgtag.col-4 .imgtag {
    width: 25%;
}

.com-tagbox-imgtag.col-3 .imgtag {
    width: 33.3333333%;
}

.com-tagbox-imgtag.col-2 .imgtag {
    width: 50%;
}

.com-tagbox-imgtag .imgtag.show-more-btn .imgtag-text {
    color: rgb(70, 70, 70);
    background: rgb(253, 253, 253);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.com-tagbox-imgtag .imgtag .imgtag-img {
    overflow: hidden;

    height: 100%;
    line-height: 3.7rem;

    background-color: rgba(251, 251, 251, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: border 0.3s;
}

.com-tagbox-imgtag .imgtag:last-child {
    margin-right: 0;
}

.com-tagbox-imgtag .imgtag .imgtag-text {
    display: block;

    width: 100%;
    height: 100%;
    text-align: center;

    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;

    /* border-right: 1px solid rgba(0, 0, 0, 0.08); */

    background: rgba(0, 0, 0, 0.4);
}
