
.com-login {
	text-align: center !important;
}

/* extended dim */
.com-login .exdim {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.com-login .field {
	margin: 0 !important;
}

.com-login .form {
	z-index: 1;
	display: inline-block;
	padding: 1em 2em 2em 2em;
	background: #F8F8F8;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

	border-radius: 3px !important;
}

.com-login .avatar {
	display: inline-block;

	height: 7em;
	width: 7em;

	cursor: pointer;

	margin-top: -3em;
	margin-bottom: 1rem;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.com-login .field {
	width: 15em;
}

.com-login .vercode-field {
	display: none;
}

.com-login .show-reg .vercode-field {
	display: block;
}
