.com-pboard {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}

.com-pboard .main-slide {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: opacity 0.3s;
}

.com-pboard .main-slide:hover {
	opacity: 0.8;
}

.com-pboard .slide-front,
.com-pboard .slide-back {
	position: relative;
	width: 100%;
	height: 100%;

	background: rgba(250, 250, 250, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	transition: opacity 0.8s cubic-bezier(.6, 0, .2, 1);

}

.com-pboard .slide-back {
	top: -100%;
}

.com-pboard .main-slide .slide-front {
	opacity: 1;
}

.com-pboard .main-slide .slide-back {
	opacity: 0;
}

.com-pboard .main-slide.switch .slide-front {
	opacity: 0;
}

.com-pboard .main-slide.switch .slide-back {
	opacity: 1;
}

.com-pboard .preview-set {
	position: absolute;
	white-space: nowrap;
}

.com-pboard .preview-set .preview {
	position: relative;
	left: 0; top: 0;

	width: 100%;
	height: 100%;

	transition: top 0.8s cubic-bezier(.6, 0, .2, 1), left 0.8s cubic-bezier(.6, 0, .2, 1), opacity 0.3s;

	background: rgba(250, 250, 250, 1);
	cursor: pointer;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-pboard .preview-set .preview:hover {
	opacity: 0.8;
}

/* dir is the scrolling direction */

.com-pboard.top-dir .preview-set {
	top: 0; right: 0;
	height: 100%;
}

.com-pboard.left-dir .preview-set {
	left: 0; bottom: 0;
	width: 100%;
}

.com-pboard.left-dir .preview {
	display: inline-block;
}
