.com-pboard {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: white;
}

.com-pboard .setting-btn {
	display: none;
}

.com-pboard.enable-setting .setting-btn {
	display: block;

	text-align: center;
	opacity: 0;
	font-size: 1.5em;
	color: #717171;

	transition: opacity 0.3s;
}

.com-pboard.enable-setting .main-slide:hover .setting-btn,
.com-pboard.enable-setting .preview-set .preview:hover .setting-btn {
	opacity: 1;
}

.com-pboard .main-slide {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: opacity 0.3s;
}

.com-pboard .slide-front,
.com-pboard .slide-back {
	position: relative;
	width: 100%;
	height: 100%;

	background: rgba(250, 250, 250, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	transition: opacity 0.8s cubic-bezier(.6, 0, .2, 1);
}

.com-pboard .slide-back {
	top: -100%;
}

.com-pboard .main-slide .slide-front {
	opacity: 1;
}

.com-pboard .main-slide .slide-back {
	opacity: 0;
}

.com-pboard .main-slide.switch .slide-front {
	opacity: 0;
}

.com-pboard .main-slide.switch .slide-back {
	opacity: 1;
}

.com-pboard .preview-set {
	position: absolute;
	white-space: nowrap;
}

.com-pboard .preview-set .preview {
	position: relative;
	left: 0; top: 0;

	width: 100%;
	height: 100%;

	transition: top 0.8s cubic-bezier(.6, 0, .2, 1), left 0.8s cubic-bezier(.6, 0, .2, 1), opacity 0.3s;

	background: rgba(250, 250, 250, 1);
	cursor: pointer;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-pboard .main-slide:hover,
.com-pboard .preview-set .preview:hover {
	opacity: 0.8;
}

.com-pboard .main-slide:active,
.com-pboard .preview-set .preview:active {
	opacity: 0.9;
}

.com-pboard .preview-set .preview.no-img {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-width: 1px 0 0 1px;
}

.com-pboard .preview-set .preview.no-img:first-child {
	border-top-width: 0;
}

/* dir is the scrolling direction */

.com-pboard.top-dir .preview-set {
	top: 0; right: 0;
	height: 100%;
}

.com-pboard.left-dir .preview-set {
	left: 0; bottom: 0;
	width: 100%;
}

.com-pboard.left-dir .preview {
	display: inline-block;
}

/* slide */

.com-pboard-slide {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;

	background: white;
}

.com-pboard-slide .right-btn,
.com-pboard-slide .left-btn {
	z-index: 1;
	display: inline-block !important;

	position: absolute;

	top: 0;
	height: 100%; width: auto;

	margin: 0 !important;
	padding: 0 1rem;

	font-size: 2rem;
	font-weight: bold;
	color: white;

	opacity: 0;

	cursor: pointer;

	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

	transition: text-shadow 0.2s, opacity 0.3s;
}

.com-pboard-slide:hover .right-btn,
.com-pboard-slide:hover .left-btn {
	opacity: 1;
}

.com-pboard-slide .right-btn:hover,
.com-pboard-slide .left-btn:hover {
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.com-pboard-slide .right-btn:active,
.com-pboard-slide .left-btn:active {
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.com-pboard-slide .left-btn {
	left: 0;
}

.com-pboard-slide .right-btn {
	right: 0;
}

.com-pboard-slide .slide {
	position: absolute;
	height: 100%; width: 100%;
	left: 0;

	background: rgba(250, 250, 250, 1);
	cursor: pointer;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	opacity: 1;

	transition: left 0.3s cubic-bezier(.6, 0, .2, 1), opacity 0.3s;
}

.com-pboard-slide:hover .slide {
	opacity: 0.9;
}

.com-pboard-slide .slide.left {
	left: -100%;
}

.com-pboard-slide .slide.right {
	left: 100%;
}

.com-pboard-slide .slide.left-ready {
	left: -100%;
	transition: none !important;
}

.com-pboard-slide .slide.right-ready {
	left: 100%;
	transition: none !important;
}
