.com-resume {
    position: relative;

    padding: 4em;
    width: 100%;
}

.com-resume.empty {
    margin-top: 20px;
    padding-top: 1rem;
}

.com-resume .resume-tag {
    color: #A3A3A3;
    font-family: Brandon;
    margin-bottom: 0.7rem;
}

.com-resume .resume-list {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.com-resume .resume-preview {
    display: inline-block;
    width: 45%;
    padding-left: 1em;
}

.com-resume.empty .resume-preview {
    display: none;
}

.com-resume .resume-empty-prompt {
    text-align: center;
    font-weight: bold;
    color: #CCCCCC;
}

.com-resume .resume-item {
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

    width: 100%;

    margin-bottom: 1rem;
    padding: 1rem;

    cursor: pointer;

    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.04);

    transition: box-shadow 0.3s;
}

.com-resume .resume-item.selected {
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.08) !important;
}

.com-resume .resume-item:hover {
	box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.08) !important;
}

.com-resume .resume-item:last-child {
    margin-bottom: 0;
}

.com-resume .resume-item .resume-cover {
    display: inline-block;

    height: 4rem;
    width: 4rem;
    border-radius: 3px;

    background-color: rgba(245, 245, 245, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-resume .resume-item .resume-prompt {
    display: inline-block;

    margin-left: 1rem;
    font-size: 1.2em;
    font-family: Brandon;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.com-resume .resume-item .resume-fixed {
    display: inline-block;
    padding-right: 0.7rem;
}

.com-resume .resume-item .resume-fixed>.icon {
    font-size: 1.3em;
    margin-left: 1rem;
    margin-right: 0 !important;
}

.com-resume .resume-item .resume-rating {
    margin-left: 1rem;
}

@media only screen and (max-width: 1023px) {
    .com-resume .resume-list {
        width: 100%;
    }

    .com-resume .resume-preview {
        display: none;
    }
}

/* preview */

.com-resume-preview {
    top: 5.7em !important;

    overflow: hidden;

    text-align: center;
    font-family: Brandon;

    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.04);

    color: #424242;
}

.com-resume-preview .preview-cover {
    height: 13em;
    width: 100%;

    background-color: rgba(245, 245, 245, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-resume-preview .preview-cont {
    padding: 1.5rem;
}

.com-resume-preview .preview-title {
    font-size: 1.8em;
    font-weight: bold;

    margin-bottom: 2rem;
}

.com-resume-preview .preview-details {
    display: inline-block;
    text-align: left;
}

.com-resume-preview .preview-detail {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.com-resume-preview .preview-detail .name {
    font-weight: bold;
}

.com-resume-preview .preview-detail .val {
    float: right;
    margin-left: 1.5em;
}

.com-resume-preview .preview-btns {
    margin-top: 2.5rem;
    text-align: right;
}

.com-resume-preview .about-btn {
    margin: 0 !important;
}
