.com-tab {
	height: 100%;
}

.com-tab .menu {
	width: 100%;
	background: rgba(253, 253, 253, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.08)
	;
	border-width: 0 0 1px 0;
}

.com-tab .menu>.loader {
	float: right;
}

.com-tab .menu .item {
	display: inline-block;

	padding: 0 2rem;
	height: 4rem;

	background: white;

	border: 1px solid rgba(0, 0, 0, 0.08);
	border-width: 0 1px 0 0;
	border-radius: 0;

	color: #737373;
	cursor: pointer;

	text-align: center;
	vertical-align: middle;

	transition: background 0.3s;
}

.com-tab .menu .item:hover {
	background: rgba(252, 252, 252, 1);
}

.com-tab .menu .item:active {
	background: rgba(246, 246, 246, 1);
}

.com-tab .menu .item.active {
	background: rgba(250, 250, 250, 1);
}

.com-tab .menu:not(.flow) .item.right {
	float: right;
	border-width: 0 0 0 1px;
}

.com-tab .menu .item.green {
	background: #2ECC71;
	border-color: #28B363;
	color: white;
}

.com-tab .menu .item.green:hover {
	background: #28B363;
}

.com-tab .menu .item.green.active {
	background: #28B363;
}

.com-tab .menu.flow .item {
	padding: 0;
}

.com-tab .tab {
	position: relative;
	display: none;
	transition: opacity 0.3s;
}

.com-tab .tab.active {
	display: block;
}

@media only screen and (max-width: 640px) {
	.com-tab .menu.flow .item {
		height: 3rem;
		font-size: 90%;
	}
}
