.com-tagbox {
	color: #666666;
	padding-top: 0.3em;
}

.com-tagbox .tag {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin: 0 0.3rem 0.3rem 0;

	font-size: 0.7rem;
	line-height: 0.9rem;

	background: white;

	font-family: foci-tag;

	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 3px;

	cursor: default;

	word-wrap: break-word;
	cursor: pointer;
	
	text-transform: uppercase;

	transition: border-color 0.2s;
}

.com-tagbox .tag.trivial {
	text-transform: none;
}

.com-tagbox .tag:hover {
	border-color: rgba(0, 0, 0, 0.22);
}

.com-tagbox .tag.green.border {
	border-color: #27AE60;
}

.com-tagbox .tag.green.border .icon {
	color: #27AE60;
}

.com-tagbox .tag.blue.border {
	border-color: #2980B9;
}

.com-tagbox .tag.blue.border .icon {
	color: #2980B9;
}

.com-tagbox .addtag {
	display: none;
	cursor: pointer;
}

.com-tagbox .deltag {
	display: none;
	cursor: pointer;
	margin: 0 0 0 0.7em;
}

.com-tagbox .deltag i {
	margin: 0 !important;
	height: auto !important;
}

.com-tagbox .addtag i {
	display: inline !important;
	margin: 0 !important;
}

.com-tagbox .tag:hover {
}

.com-tagbox.edit .addtag {
	display: inline-block;
	color: #999999;
}

.com-tagbox.edit .deltag {
	display: inline;
	color: #999999;
}

/* color tagbox */

.com-tagbox-colortag-set {
	
}

.com-tagbox-colortag {
	display: inline-block;
	
	padding: 0.4em 0.6em;
	border-radius: 3px;
	
	border: 1px solid rgba(0, 0, 0, 0.08);
	font-weight: bold;
	
	margin: 0 0.4em 0.4em 0;
	
	opacity: 1;
	user-select: none;
	-moz-user-select: none;
	
	transition: opacity 0.1s;
}

.com-tagbox-colortag:hover {
	opacity: 0.9;
}

.com-tagbox-colortag:active {
	opacity: 0.95;
}

.com-tagbox-colortag-set .addbtn,
.com-tagbox-colortag-set .updatebtn {
	display: none;
	color: rgb(150, 150, 150);
}

.com-tagbox-colortag .delbtn {
	display: none;
}

.com-tagbox-colortag-set.editable .com-tagbox-colortag .delbtn {
	display: inline;
}

.com-tagbox-colortag-set.editable .addbtn {
	display: inline-block;
}

.com-tagbox-colortag-set.edited .updatebtn {
	display: inline-block;
}

.com-tagbox-colortag-set .updatebtn .loader {
	display: none !important;
}

.com-tagbox-colortag-set .updatebtn.loading .loader {
	margin-top: 0 !important;
	display: inline-block !important;
}

.com-tagbox-colortag-set .updatebtn.loading .icon {
	display: none !important;
}

.com-tagbox-colortag-set.editable .com-tagbox-colortag {
	cursor: pointer;
}

.com-tagbox-newtag .color-value {
	font-weight: bold;
}

/* palette */

.com-palette .row {
	word-break: keep-all;
	white-space: nowrap;
}

.com-palette .color {
	display: inline-block;
	border-radius: 2px;
	
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.com-palette .color:hover {
	opacity: 0.8;
}
