.com-tagbox {
	color: #666666;
	padding-top: 0.3em;
}

.com-tagbox .tag {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin: 0 0.3rem 0.3rem 0;

	font-size: 0.7rem;
	line-height: 0.9rem;

	background: white;

	font-family: foci-tag;

	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 3px;

	cursor: default;

	white-space: nowrap;
	cursor: pointer;

	transition: border-color 0.2s;
}

.com-tagbox .tag:hover {
	border-color: rgba(0, 0, 0, 0.22);
}

.com-tagbox .addtag {
	display: none;
	cursor: pointer;
}

.com-tagbox .deltag {
	display: none;
	cursor: pointer;
	margin: 0 0 0 0.7em;
}

.com-tagbox .deltag i {
	margin: 0 !important;
	height: auto !important;
}

.com-tagbox .addtag i {
	display: inline !important;
	margin: 0 !important;
}

.com-tagbox .tag:hover {
}

.com-tagbox.edit .addtag {
	display: inline-block;
	color: #999999;
}

.com-tagbox.edit .deltag {
	display: inline;
	color: #999999;
}
