.com-tagbox .tag {
	display: inline-block;
	padding: 0.5em 0.7em;
	margin: 0 0.4em 0.4em 0;

	font-size: 0.7em;
	line-height: 0.9rem;

	background: #95A5A6;
	color: white;

	border: 1px solid #7F8C8D;
	border-radius: 3px;

	cursor: default;

	white-space: nowrap;

	transition: background 0.3s;
}

.com-tagbox .addtag {
	display: none;
	cursor: pointer;
}

.com-tagbox .deltag {
	display: none;
	cursor: pointer;
	margin: 0 0 0 0.7em;
}

.com-tagbox .deltag i {
	margin: 0 !important;
	height: auto !important;
}

.com-tagbox .addtag i {
	display: inline !important;
	margin: 0 !important;
}

.com-tagbox .tag:hover {
	background: #A0B2B3;
}

.com-tagbox.edit .addtag {
	display: inline-block;
}

.com-tagbox.edit .deltag {
	display: inline;
}
