/* com top bar */

.margin-tbar {
	margin-top: 4.7em !important;
}

.padding-tbar {
	padding-top: 4.7em !important;
}

.top-tbar {
	top: 4.7em !important;
}

/* a weird left bar in semantic dropdown */
.com-tbar .ui.menu .item:before {
	display: none;
}

.com-tbar {
	z-index: 100;

	position: fixed;

	width: 100%;
	padding: 0;
	height: 4.7em;

	top: 0;
	left: 0;

	background: white;

	border: 1px solid rgba(0, 0, 0, 0.08);
	border-width: 0 0 1px 0;

	opacity: 1;
	transition: opacity 0.3s, top 0.5s, box-shadow 0.3s, background 0.3s;
}

.com-tbar.hide {
	top: -100%;
	opacity: 0;
}

/* .com-tbar:hover {
	opacity: 1;
} */

.com-tbar .logo {
	height: auto;

	color: #333333;
	font-size: 2.7em;
	vertical-align: middle;

	cursor: pointer;

	margin-right: 0.3em;
}

.com-tbar .search-box {
	height: 2.7em;
}

.com-tbar .filter-tag {
	position: absolute;
	margin-top: 3em; /* 2.7em(textbox height) + 0.3em(distance) to align with search box */
	padding: 0 !important;
	height: 0;
	pointer-events: none;
}

.com-tbar .filter-tag .header {
	color: #999999 !important;
}

.com-tbar .filter-btn.active {
	color: #3498DB;
}

.com-tbar.show-menu {
	background: #262626 !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.com-tbar .menu-view,
.com-tbar .banner-view,
.com-tbar .left-bar {
	position: relative;
	
	top: 0;
	left: 0;
	height: 4.7em;
	padding: 1em;
	transition: top 0.2s;
}

.com-tbar.show-banner .left-bar {
	top: -3.7em;
}

.com-tbar.show-menu .left-bar {
	top: 4.7em;
}

.com-tbar .menu-view,
.com-tbar .banner-view {
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	padding-left: 2rem;
}

.com-tbar .menu-cont,
.com-tbar .banner {
	position: relative;
	
	font-size: 1.2em;
	line-height: 2.7rem;
	transition: top 0.2s;
}

.com-tbar .menu-cont {
	color: white;
	top: -4.7em;
}

.com-tbar .banner {
	top: 4.7em;
}

.com-tbar.show-banner .banner-view {
	pointer-events: auto;
}

.com-tbar.show-banner .banner-view .banner {
	top: 0;
}

.com-tbar.show-menu .menu-view {
	pointer-events: auto;
}

.com-tbar.show-menu .menu-view .menu-cont {
	top: 0;
}

.com-tbar .menu-view .cancel.icon {
	cursor: pointer;
	font-size: 0.9em;
}

.com-tbar .menu-link {
	cursor: pointer;
	margin-left: 1em;
	font-size: 0.8em;
	color: white;
}

.com-tbar .search-box .prompt {
	border-radius: 3px !important;

	opacity: 1;
	font-family: Ubuntu !important;

	transition: opacity 0.3s;
}

.com-tbar .search-box .menu-btn {
	height: 2.7em;
	line-height: 2.7em;
	margin-top: 1px;

	padding-left: 1em;
	padding-right: 1.2em;

	color: #404040;

	border: 0;
	background: none;
	outline: none;

	transition: color 0.2s;
}

.com-tbar .search-box .menu-btn:hover {
	color: #333333;
}

.com-tbar .search-box .menu-btn:active {
	color: #262626;
}

.com-tbar .search-box .menu-btn i {
	font-size: 1.2em;
}

.com-tbar .right-bar {
	position: absolute;
	display: inline-block;
	float: right;

	height: 100%;
	
	top: 0;
	right: 0;

	transition: opacity 0.2s;
}

.com-tbar .right-bar .avatar-box {
	height: 100%;
	text-align: center;
}

.com-tbar.show-menu .right-bar {
	opacity: 0;
	pointer-events: none;
}

.com-tbar .logged .avatar-box {
}

.com-tbar .login-btn {
	height: 100%;
	width: 4.7em;

	background: transparent;

	border: none;

	border-radius: 0;
	margin-right: 0;

	opacity: 1;
	transition: opacity 0.3s, white 0.3s;
}

.com-tbar .login-btn .loader.active+.icon {
	display: none;
}

.com-tbar .login-btn .icon {
	margin: 0 !important;
}

.com-tbar .logged .login-btn {
	display: none;
}

.com-tbar .avatar {
	display: none;
}

.com-tbar .logged .avatar {
	display: inline-block;
}

.com-tbar .pm-popup {
	padding: 0 !important;
}

.com-tbar .avatar-popup {
	padding: 1px !important;
	text-align: center;
}

.com-tbar .avatar-popup .buttons {
	border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.com-tbar .avatar-popup .cont {
	padding: 1em;
}

.com-tbar .avatar-util-box {
	display: none;
}

.com-tbar .logged .avatar-util-box {
	display: inline-block;
	height: 4.7rem;
	line-height: 4.7rem;
	vertical-align: top;

	opacity: 1;

	font-size: 1.8rem;
	padding-right: 0.5rem;

	transition: opacity 0.3s;
}

.com-tbar .avatar-util {
	position: relative;
	display: inline-block;
	line-height: normal;
	color: #999999;
	margin-right: 2.5rem;
	cursor: pointer;
}

.com-tbar .avatar-util .reddot {
	position: absolute;

	width: 10px;
	height: 10px;
	top: 0;
	right: -3px;

	background: #E74C3C;
	color: white;
	border-radius: 50%;

	opacity: 0;

	box-shadow: 0 0 1px #E74C3C;

	transition: opacity 0.3s;
}

.com-tbar .avatar-util.unread .reddot {
	opacity: 1;
}

.com-tbar .avatar-util:hover {
	color: #666666;
}

.com-tbar .avatar,
.com-tbar .pop-avatar {
	cursor: pointer;

	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-tbar .avatar {
	height: 3em;
	width: 3em;

	margin-top: 0.85rem;
	margin-right: 0.85rem;

	background-color: white;

	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

	/* TODO */
	transition: box-shadow 0.5s;
}

.com-tbar .pop-avatar {
	display: inline-block;
	height: 4em;
	width: 4em;
	margin-bottom: 0.5em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	
	overflow: hidden;
}

.com-tbar .pop-avatar div {
	color: #F3F3F3;
	font-weight: bold;
	opacity: 0;
	line-height: 2.667em;
	font-size: 1.5em;
	text-align: center;

	width: 100%;
	background: rgba(0, 0, 0, 0.3);

	transition: opacity 0.5s;
}

.com-tbar .pop-avatar div i {
	margin: 0 !important;
}

.com-tbar .pop-avatar:hover div {
	opacity: 1;
}

.com-tbar .search {
	display: inline-block;
}

.com-tbar .pop-title {
	color: #191919;
	font-size: 130%;
}

.com-tbar .links {
	display: inline-block;
	margin-left: 1em;
}

.com-tbar .links .link {
	display: inline-block;
	cursor: pointer;
	color: #4C4C4C;

	font-size: 120%;

	margin-top: -3px;
	margin-right: 0.5em;

	transition: color 0.3s;
}

.com-tbar .links .link:hover {
	color: #808080;
}

@media only screen and (max-width: 640px) {
	.com-tbar .links {
		display: block;
		margin-top: 1em;
	}

	.com-tbar .menu-view,
	.com-tbar .banner-view,
	.com-tbar .left-bar {
		text-align: center;
	}

	.com-tbar .menu-view,
	.com-tbar .banner-view {
		width: 100%;
		padding-left: 0;
	}

	.com-tbar .menu-view .cancel.icon {
		position: absolute;
		left: 2em;
	}

	.com-tbar .right-bar {
		position: fixed;
		display: block;
		
		right: 1.5em;
		bottom: 1.5em;

		top: auto;
		height: auto;
	}

	.com-tbar .right-bar .avatar-box {
		height: auto;
		width: auto;

		display: -webkit-inline-flex;
		display: inline-flex;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.com-tbar.show-menu .right-bar {
		opacity: 1;
		pointer-events: auto;
	}

	.com-tbar .avatar {
		height: 3.4em;
		width: 3.4em;
		margin-top: 0;
		margin-right: 0;

		z-index: 2;

		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	}

	.com-tbar .logged .avatar-util-box {
		padding-right: 0;
		padding-left: 4rem;

		height: auto;
		line-height: normal;
		z-index: 1;
	}

	.com-tbar .logged .avatar-util {
		display: -webkit-inline-flex;
		display: inline-flex;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		text-align: center;

		vertical-align: top;
		margin-right: -3rem;

		font-size: 1.3rem;

		width: 3.4rem;
		height: 3.4rem;
		background: #404040;
		color: white;
		border-radius: 50%;

		pointer-events: none;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	
		transition: margin-right 0.3s, opacity 0.3s, background 0.3s;
	}

	.com-tbar .logged .avatar-util i {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-top: -2px;
	}

	.com-tbar .logged .avatar-util .reddot {
		height: 12px;
		width: 12px;
		right: 0;
		opacity: 0;
	}

	.com-tbar .logged .avatar-util-box.expand .avatar-util,
	.com-tbar .logged .avatar-util-box:hover .avatar-util {
		margin-right: 1rem;
		opacity: 1;
		background: #191919;
		pointer-events: auto;
	}

	.com-tbar .logged .avatar-util-box.expand .avatar-util.unread .reddot,
	.com-tbar .logged .avatar-util-box:hover .avatar-util.unread .reddot {
		opacity: 1;
	}

	.com-tbar .login-btn {
		height: 3.4em;
		width: 3.4em;

		background: black;
		color: white;

		border-left: none;

		border-radius: 50%;

		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
	}

	.com-tbar {
		opacity: 1;
	}
}

/* styles */

/* simple */

.com-tbar.simple {
	background: transparent;
	opacity: 1;
	border-width: 0;
}

.com-tbar.simple .prompt {
	border-color: rgba(0, 0, 0, 0) !important;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s
}

.com-tbar.simple .prompt:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.com-tbar.simple .menu-cont {
	color: white;
}

.com-tbar.simple .search-box .menu-btn {
	color: white;
}

.com-tbar.simple .search-box .menu-btn:hover {
	color: #F3F3F3;
}

.com-tbar.simple .search-box .menu-btn:active {
	color: #E6E6E6;
}

.com-tbar.simple .avatar {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.com-tbar.simple .avatar-util-box {
	opacity: 0;
	visibility: hidden;
}

.com-tbar.simple .login-btn {
	opacity: 0;
	visibility: hidden;
}

.com-tbar.simple .avatar-box {
	border: none;
}

@media only screen and (max-width: 640px) {
	.com-tbar.simple .search-box .menu-btn {
		padding: 0 1.5em 0 0;
	}
}
