/* com top bar */

.margin-tbar {
	margin-top: 4.7em !important;
}

.padding-tbar {
	padding-top: 4.7em !important;
}

.top-tbar {
	top: 4.7em !important;
}

.com-tbar {
	z-index: 100;

	position: fixed;

	width: 100%;
	padding: 0;
	height: 4.7em;

	top: 0;
	left: 0;

	background: white;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 0 1px 0;

	opacity: 1;
	transition: opacity 0.3s, top 0.5s, box-shadow 0.3s, background 0.3s;
}

.com-tbar.hide {
	top: -100%;
	opacity: 0;
}

/* .com-tbar:hover {
	opacity: 1;
} */

.com-tbar .logo {
	height: auto;

	color: #333333;
	font-size: 2.7em;
	vertical-align: middle;

	cursor: pointer;

	margin-right: 0.3em;
}

.com-tbar .search-box {
	height: 2.7em;
}

.com-tbar .filter-tag {
	position: absolute;
	margin-top: 3em; /* 2.7em(textbox height) + 0.3em(distance) to align with search box */
	padding: 0 !important;
	height: 0;
	pointer-events: none;
}

.com-tbar .banner-view,
.com-tbar .left-bar {
	position: relative;
	
	top: 0;
	left: 0;
	height: 4.7em;
	padding: 1em;
	transition: top 0.2s;
}

.com-tbar .banner-view {
	position: absolute;
	overflow: hidden;
	pointer-events: none;
}

.com-tbar .left-bar.show-banner {
	top: -3.7em;
}

.com-tbar .banner {
	position: relative;
	
	top: 4.7rem;
	font-size: 1.2em;

	line-height: 2.7rem;
	margin-left: 1.5rem;

	transition: top 0.2s;
}

.com-tbar .banner .sub {
	opacity: 0.5;
}

.com-tbar .left-bar.show-banner+.banner-view {
	pointer-events: auto;
}

.com-tbar .left-bar.show-banner+.banner-view .banner {
	top: 0;
}

.com-tbar .search-box .prompt {
	border-radius: 0 3px 3px 0 !important;
	border-left: none !important;

	opacity: 1;

	transition: opacity 0.3s;
}

.com-tbar .search-box .nav {
	height: 2.7em;
	padding: 0 1.5em;
}

.com-tbar .search-box .nav i {
	font-size: 1.2em;
}

.com-tbar .right-bar {
	position: absolute;
	display: inline-block;
	float: right;

	top: 1em;
	right: 1em;
}

.com-tbar .login-btn {
	height: 2.7em;
	width: 2.7em;
	border-radius: 50% !important;
	margin-right: 0 !important;
}

.com-tbar .logged .login-btn {
	display: none;
}

.com-tbar .avatar {
	display: none;
}

.com-tbar .logged .avatar {
	display: block;
}

.com-tbar .popup {
	padding: 0 !important;
	text-align: center;
}

.com-tbar .popup .cont {
	padding: 1em;
}

.com-tbar .avatar,
.com-tbar .pop-avatar {
	cursor: pointer;

	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-tbar .avatar {
	height: 2.7em;
	width: 2.7em;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

	/* TODO */
	transition: box-shadow 0.5s;
}

.com-tbar .pop-avatar {
	display: inline-block;
	height: 4em;
	width: 4em;
	margin-bottom: 0.5em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.5s;

}

.com-tbar .pop-avatar:hover {
	box-shadow:
		0 0 1px rgba(0, 0, 0, 0.3),
		0 0 4em rgba(0, 0, 0, 0.5) inset;
}

.com-tbar .pop-avatar div {
	color: #F3F3F3;
	font-weight: bold;
	opacity: 0;
	line-height: 2.667em;
	font-size: 1.5em;
	text-align: center;

	transition: opacity 0.5s;
}

.com-tbar .pop-avatar div i {
	margin: 0 !important;
}

.com-tbar .pop-avatar:hover div {
	opacity: 1;
}

.com-tbar .search {
	display: inline-block;
}

.com-tbar .pop-title {
	color: #191919;
	font-size: 130%;
}

.com-tbar .links {
	display: inline-block;
	margin-left: 1em;
}

.com-tbar .links .link {
	display: inline-block;
	cursor: pointer;
	color: #4C4C4C;

	font-size: 120%;

	margin-top: -3px;
	margin-right: 0.5em;

	transition: color 0.3s;
}

.com-tbar .links .link:hover {
	color: #808080;
}

@media only screen and (max-width: 640px) {
	.com-tbar .links {
		display: block;
		margin-top: 1em;
	}

	.com-tbar .banner-view,
	.com-tbar .left-bar {
		text-align: center;
	}

	.com-tbar .banner-view {
		width: 100%;
	}

	.com-tbar .banner {
		margin-left: 0;
	}

	.com-tbar .right-bar {
		position: fixed;
		display: block;
		bottom: 1em;
		top: auto;
	}

	.com-tbar .avatar {
		height: 3.4em;
		width: 3.4em;
	}

	.com-tbar .login-btn {
		height: 3.4em;
		width: 3.4em;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
	}

	.com-tbar {
		opacity: 1;
	}
}

/* menu */
/*
.com-tbar .search-box {
	opacity: 1;
	transition: opacity 0.3s;
}

.com-tbar .menu-box {
	position: absolute;

	left: 0;
	top: 0;

	height: 2.7em;
	line-height: 2.7em;

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.3s;
}

.com-tbar .search-box .nav-close {
	height: 2.7em;
	padding: 0 1.5em;
}

.com-tbar .menu-open .menu-box {
	opacity: 1;
	pointer-events: auto;
}

.com-tbar .menu-open .search-box {
	opacity: 0;
	pointer-events: none;
}
*/

/* styles */

/* simple */

.com-tbar.simple {
	background: transparent;
	opacity: 1;
	border-width: 0;
}

.com-tbar.simple .prompt {
	border-radius: 3px !important;
	border: none !important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.com-tbar.simple .prompt:focus {
	border: none !important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.com-tbar.simple .search-box .nav {
	border: 0 !important;
	background: transparent !important;
	color: white !important;
	box-shadow: none !important;
}

.com-tbar.simple .search-box .nav:hover {
	border: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
}

.com-tbar.simple .avatar,
.com-tbar.simple .login-btn {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 640px) {
	.com-tbar.simple .search-box .nav {
		padding: 0 1.5em 0 0;
	}
}
