/* com top bar */

.margin-tbar {
	margin-top: 4.7em !important;
}

.padding-tbar {
	padding-top: 4.7em !important;
}

.top-tbar {
	top: 4.7em !important;
}

.tbar-double-high .margin-tbar {
	margin-top: 8.4em !important;
}

.tbar-double-high .padding-tbar {
	padding-top: 8.4em !important;
}

.tbar-double-high .top-tbar {
	top: 8.4em !important;
}

html.foci-nested .margin-tbar {
	margin-top: 0 !important;
}

html.foci-nested .padding-tbar {
	padding-top: 0 !important;
}

html.foci-nested .top-tbar {
	top: 0 !important;
}

/* a weird left bar in semantic dropdown */
.com-tbar .ui.menu .item:before {
	display: none;
}

.tbar-double-high .com-tbar {
	height: 8.4em;
}

.com-tbar {
	z-index: 100;

	position: fixed;

	width: 100%;
	padding: 0;
	height: 4.7em;

	top: 0;
	left: 0;

	background: white;

	border: 1px solid rgba(236, 236, 236, 1); /* rgba(0, 0, 0, 0.08); */
	border-width: 0 0 1px 0;

	opacity: 1;
	transition: opacity 0.3s,
				top 0.5s,
				box-shadow 0.3s,
				background 0.3s,
				border-bottom-color 0.2s;
}

.com-tbar.hide {
	top: -100%;
	opacity: 0;
}

/* .com-tbar:hover {
	opacity: 1;
} */

.com-tbar .logo {
	height: auto;

	color: #333333;
	font-size: 2.7em;
	vertical-align: middle;

	cursor: pointer;

	margin-right: 0.3em;
}

.com-tbar .search-box {
	height: 2.7em;
}

.com-tbar .filter-tag {
	position: absolute;
	margin-top: 3em; /* 2.7em(textbox height) + 0.3em(distance) to align with search box */
	padding: 0 !important;
	height: 0;
	pointer-events: none;
}

.com-tbar .filter-tag .header {
	color: #999999 !important;
}

.com-tbar .filter-btn.active {
	color: #3498DB;
}

.com-tbar.show-menu {
	background: #262626 !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	border-bottom-color: black;
}

.com-tbar.show-menu .site-logo {
	color: white !important;
}

.com-tbar.show-msg {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.com-tbar .menu-view,
.com-tbar .banner-view,
.com-tbar .msg-view,
.com-tbar .left-bar {
	position: relative;

	top: 0;
	left: 0;
	height: 4.7em;
	padding: 1em 0;
}

.com-tbar .menu-view,
.com-tbar .banner-view,
.com-tbar .menu-cont,
.com-tbar .msg-view,
.com-tbar .banner,
.com-tbar .left-bar {
	transition: top 0.3s cubic-bezier(0.54, 0.35, 0, 0.86);
}

.com-tbar .menu-view {
	overflow: hidden;
	text-transform: uppercase;
}

.com-tbar.show-menu .menu-view {
	-webkit-user-select: none;
	user-select: none;

	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.com-tbar .menu-view .menu-cont {
	white-space: nowrap;
}

.com-tbar.show-banner .left-bar {
	top: -3.7em;
}

.com-tbar.show-menu .left-bar {
	top: 4.7em;
}

.tbar-double-high .com-tbar.show-menu .left-bar {
	top: 3.7em !important;
}

.com-tbar .menu-view {
	position: absolute;
	pointer-events: none;
	padding-left: 2rem;
}

.com-tbar .banner-view,
.com-tbar .msg-view {
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	padding-left: 2rem;
}

.com-tbar .menu-cont,
.com-tbar .banner {
	position: relative;

	font-size: 1.2em;
	line-height: 2.7rem;
}

.com-tbar .menu-cont {
	display: inline-block;

	color: white;
	top: -4.7em;
}

.com-tbar .msg-view-icon {
	margin-right: 0.7rem !important;
}

.com-tbar .msg-view {
	width: 100%;
	top: -4.7rem;
	height: 4.7rem;
	line-height: 2.7rem;

	font-size: 1.2rem;

	color: white;
	background: #262626;

	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;

	cursor: pointer;

	z-index: 4;
}

.com-tbar .msg-view.green {
	background: #27AE60;
}

.com-tbar .msg-view.blue {
	background: #2980B9;
}

.com-tbar .msg-view.red {
	background: #C0392B;
}

.com-tbar .msg-view.show-msg {
	pointer-events: auto;
	top: 0;
}

.com-tbar .banner {
	top: 4.7em;
	padding: 0 1rem;
	
	max-width: 30rem;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.com-tbar.show-banner .banner-view {
	pointer-events: auto;
}

.com-tbar.show-banner .banner-view .banner {
	top: 0;
}

.com-tbar.show-menu .menu-view {
	pointer-events: auto;
}

.com-tbar.show-menu .menu-view .menu-cont {
	top: 0;
}

.com-tbar .menu-view .cancel.icon {
	cursor: pointer;
	font-size: 0.9em;
}

.com-tbar .menu-link {
	position: relative;
	cursor: pointer;
	margin-left: 1em;
	font-size: 0.8em;
	color: white;
}

.com-tbar .nav-link-set {
	display: inline-block;
	line-height: 2.7rem;
	vertical-align: top;
	margin-left: 1rem;

	opacity: 1;
	pointer-events: auto;

	transition: opacity 0.3s;
}

.com-tbar .nav-link {
	display: inline-block;
	vertical-align: top;
	margin-left: 1rem;

	font-size: 0.9rem;
	font-family: foci-logo-name;

	user-select: none;
	-moz-user-select: none;

	cursor: pointer;

	text-transform: uppercase;
	color: rgb(120, 120, 120);

	transition: color 0.2s;
}

.com-tbar .nav-link.active {
	color: #2980B9;
	font-weight: bold;
}

.com-tbar .nav-link:hover {
	color: #3498DB;
}

.com-tbar.hide-search .nav-link-set {
	opacity: 0;
	pointer-events: none;
}

@media only screen and (max-width: 960px) {
	.com-tbar .nav-link-set {
		display: none;
	}
}

/* only when search is hidden */
.com-tbar .search-box .menu-link {
	color: black;
	line-height: 2.7rem;
	font-size: 0.9em;

	left: -14rem;
}

.com-tbar .search-box .prompt {
	border-radius: 3px !important;

	width: 14em;
	height: 2.7em;

	opacity: 1;
	font-family: inherit !important;

	transition: opacity 0.3s;
}

.com-tbar .search-box {
	opacity: 1;
	transition: opacity 0.2s;
}

.com-tbar .hide-with-search {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.2s;
}

.com-tbar.hide-search .hide-with-search {
	opacity: 0 !important;
	pointer-events: none;
}

.com-tbar .search-box .menu-btn {
	height: 2.7em;
	line-height: 2.7em;
	margin-top: 1px;

	padding-left: 2em;
	padding-right: 1.2em;

	color: #404040;

	border: 0;
	background: none;
	outline: none;

	transition: color 0.2s;
}

.com-tbar .search-box .menu-btn:hover {
	color: #333333;
}

.com-tbar .search-box .menu-btn:active {
	color: #262626;
}

.com-tbar .search-box .menu-btn .site-logo {
	font-size: 1.7em;
	color: #34495E;
}

.com-tbar .search-box .menu-btn .site-logo.foci-logo {
	vertical-align: middle;
}

.com-tbar .search-box .menu-btn .site-logo.admin-logo {

}

.com-tbar .site-logo-prompt,
.com-tbar .site-logo-name {
	font-family: foci-logo-name;
	font-size: 1.5rem;
	line-height: 2.7rem;
}

@-moz-document url-prefix() {
	.com-tbar .site-logo-name {
		letter-spacing: -1px;
	}
}

.com-tbar .site-logo-prompt {
	position: absolute;
	left: 2rem;
	top: 1px; /* TODO: temp fix */
	
	cursor: pointer;
	
	opacity: 0;
	pointer-events: none;
	
	transition: opacity: 0.2s;
}

.com-tbar .site-logo-prompt .foci-logo,
.com-tbar .site-logo-name .foci-logo {
	color: #3498DB;
	margin-right: 0.2rem;
	font-size: 95%;
}

/* shown when search has disappeared */
.com-tbar.hide-search .site-logo-prompt {
	opacity: 1;
	pointer-events: auto;
}

.com-tbar .right-bar {
	position: absolute;
	display: inline-block;
	float: right;

	height: 100%;

	top: 0;
	right: 0;

	transition: opacity 0.2s;
}

.com-tbar .right-bar .avatar-box {
	height: 100%;
	text-align: center;
}

.com-tbar.show-menu .right-bar {
	opacity: 0;
	pointer-events: none;
}

.com-tbar .logged .avatar-box {
}

.com-tbar .login-btn {
	height: 100%;
	width: 5.7em; /* 4.7 + 1(1 = 2 * 0.5(the extra width of the avatar)) */

	background: transparent;

	border: none;

	border-radius: 0;
	margin-right: 0;

	opacity: 1;
	transition: opacity 0.3s, white 0.3s;
}

.com-tbar .login-btn .loader.active+.icon {
	display: none;
}

.com-tbar .login-btn .icon {
	margin: 0 !important;
}

.com-tbar .logged .login-btn {
	display: none;
}

.com-tbar .avatar {
	display: none;
}

.com-tbar .logged .avatar {
	display: inline-block;
}

.com-tbar .notice-popup,
.com-tbar .pm-popup {
	padding: 0 !important;
}

.com-tbar .avatar-popup {
	padding: 1px !important;
	text-align: center;
}

.com-tbar .avatar-popup .buttons {
	border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.com-tbar .avatar-popup .cont {
	position: relative;
	padding: 1em;
	padding-top: 2rem;
	min-width: 13rem;
}

.com-tbar .avatar-util-box {
	display: none;
}

.com-tbar .logged .avatar-util-box {
	display: inline-block;
	height: 4.7rem;
	line-height: 4.7rem;
	vertical-align: top;

	opacity: 1;

	font-size: 1.6rem;
	font-weight: bold;
	/* padding-right: 0.5rem; */

	transition: opacity 0.3s;
}

.com-tbar .avatar-util {
	position: relative;
	display: inline-block;
	line-height: normal;
	color: #999999;
	margin-right: 1.2em;
	cursor: pointer;
}

.com-tbar .logged .avatar-box>.reddot,
.com-tbar .avatar-util .reddot {
	position: absolute;

	width: 10px;
	height: 10px;
	top: 0;
	right: -3px;

	background: #E74C3C;
	color: white;
	border-radius: 50%;

	opacity: 0;

	box-shadow: 0 0 1px #E74C3C;

	transition: opacity 0.3s;
}

.com-tbar .avatar-box>.reddot {
	display: none;
	z-index: 3;
}

.com-tbar .avatar-util.unread .reddot {
	opacity: 1;
}

.com-tbar .avatar-util:hover {
	color: #666666;
}

.com-tbar .avatar,
.com-tbar .pop-avatar {
	cursor: pointer;

	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-tbar .avatar {
	position: relative;
	
	height: 2.5em;
	width: 2.5em;

	margin-top: 1.1rem;
	margin-right: 1.6rem;

	background-color: rgba(253, 253, 253, 1);

	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

	/* TODO */
	transition: box-shadow 0.5s;
}

.com-tbar .pop-avatar {
	display: inline-block;
	height: 4em;
	width: 4em;
	margin-bottom: 0.5em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

	overflow: hidden;
}

.com-tbar .pop-avatar div {
	color: #F3F3F3;
	font-weight: bold;
	opacity: 0;
	line-height: 2.667em;
	font-size: 1.5em;
	text-align: center;

	width: 100%;
	background: rgba(0, 0, 0, 0.3);

	transition: opacity 0.5s;
}

.com-tbar .pop-avatar div i {
	margin: 0 !important;
}

.com-tbar .pop-avatar:hover div {
	opacity: 1;
}

.com-tbar .search {
	display: inline-block;
}

.com-tbar .pop-title {
	color: #191919;
	font-size: 130%;
}

.com-tbar .avatar-popup .setting-btn {
	display: block;
	position: absolute;
	top: 0.7rem;
	right: 0.7rem;
	color: rgb(140, 140, 140);
	cursor: pointer;
	font-size: 1.2rem;
}

.com-tbar .links {
	display: inline-block;
	margin-left: 1em;
}

.com-tbar .links .link {
	display: inline-block;
	cursor: pointer;
	color: #4C4C4C;

	font-size: 120%;

	margin-top: -3px;
	margin-right: 0.5em;

	transition: color 0.3s;
}

.com-tbar .links .link:hover {
	color: #808080;
}

@media only screen and (max-width: 640px) {
	.com-tbar .links {
		display: block;
		margin-top: 1em;
	}

	.com-tbar .menu-view,
	.com-tbar .banner-view,
	.com-tbar .left-bar {
		text-align: center;
	}

	.com-tbar .menu-view,
	.com-tbar .banner-view {
		width: 100%;
		padding-left: 0;
	}

	.com-tbar .msg-view {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.com-tbar .banner {
		max-width: 100%;
	}

	.com-tbar .menu-cont {
		padding: 0 2rem;
	}

	.com-tbar .menu-view .cancel.icon {
	}

	.com-tbar .right-bar {
		position: fixed;
		display: block;

		right: 1.5em;
		bottom: 1.5em;

		top: auto;
		height: auto;
		
		transition: bottom 1.2s cubic-bezier(0.19, 1, 0.22, 1);
	}
	
	.com-tbar.hide-float-avatar .right-bar {
		bottom: -5em;
	}
		
	.com-tbar .right-bar-restore {
		display: none;
		position: fixed;
		
		right: 1rem;
		bottom: 0;
		
		height: 40px;
		width: 60px;
	}
	
	.com-tbar.hide-float-avatar .right-bar-restore {
		display: block;
	}

	.com-tbar .right-bar .avatar-box {
		height: auto;
		width: auto;

		display: -webkit-inline-flex;
		display: inline-flex;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.com-tbar.show-menu .right-bar {
		opacity: 1;
		pointer-events: auto;
	}

	.com-tbar .avatar {
		height: 3.4em;
		width: 3.4em;
		margin-top: 0;
		margin-right: 0;

		z-index: 2;

		box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	}

	.com-tbar .logged .avatar-util-box {
		padding-right: 0;
		/* padding-left: 4rem; */
		
		margin-right: -3.4rem;
		padding-right: 3.4rem;
		
		border-radius: 1.7rem;
		background: #363636;

		height: auto;
		line-height: normal;
		z-index: 1;
		
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}
	
	.com-tbar .right-bar:hover .avatar-util-box,
	.com-tbar .logged .avatar-util-box.expand {
		padding-left: 1rem;
		padding-right: 3.9rem;
	}

	.com-tbar .logged .avatar-util {
		vertical-align: top;
		margin-right: -3.4rem;

		font-size: 1.3rem;

		width: 3.4rem;
		height: 3.4rem;
		line-height: 3.4rem;
		background: transparent;
		color: white;
		border-radius: 50%;
		
		opacity: 0;

		/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); */

		transition: margin-right 0.3s, opacity 0.3s, background 0.3s;
	}

	.com-tbar .logged .avatar-util i {
		display: block;
		text-align: center;
	}

	.com-tbar .logged .avatar-box>.reddot,
	.com-tbar .logged .avatar-util .reddot {
		height: 12px;
		width: 12px;
		
		top: 8px;
		right: 8px;
		
		opacity: 0;
	}
	
	.com-tbar .logged .avatar-box>.reddot {
		display: block;
		top: 2px;
		right: 2px;
	}

	.com-tbar .right-bar:hover .avatar-util,
	.com-tbar .logged .avatar-util-box.expand .avatar-util {
		margin-right: 0;
		opacity: 1;
	}
	
	.com-tbar .logged .avatar-util:active {
		background: rgba(255, 255, 255, 0.1) !important;
	}

	.com-tbar .right-bar .avatar-box.unread>.reddot,
	.com-tbar .right-bar:hover .avatar-util.unread .reddot,
	.com-tbar .logged .avatar-util-box.expand .avatar-util.unread .reddot {
		opacity: 1;
	}
	
	.com-tbar .right-bar:hover .avatar-box.unread>.reddot {
		opacity: 0;
	}

	.com-tbar .login-btn {
		height: 3.4em;
		width: 3.4em;

		background: black;
		color: white;

		border-left: none;

		border-radius: 50%;

		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
	}

	.com-tbar {
		opacity: 1;
	}
	
	.com-tbar.hide-search .site-logo-prompt {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
}

/* styles */

/* colorful */
.com-tbar.colorful {
	color: white;
	border-color: transparent;
}

.com-tbar.colorful .search-box .menu-btn,
.com-tbar.colorful .search-box .menu-btn i,
.com-tbar.colorful .site-logo-prompt i,
.com-tbar.colorful .site-logo-prompt {
	color: white;
}

.com-tbar.colorful .search-box .prompt {
	background: rgba(0, 0, 0, 0.08) !important;
	color: white !important;
}

.com-tbar.colorful .filter-btn {
	color: white !important;
}

.com-tbar.colorful .avatar-util {
	color: white !important;
}

.com-tbar.colorful .login-btn {
	color: white !important;
}

.com-tbar.green {
	background: #2ECC71;
}

.com-tbar.orange {
	background: #F39C12;
}

/* shadowy */

.com-tbar.shadowy.apply {
	border-bottom: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);
}

/* simple */

.com-tbar.light-simple,
.com-tbar.simple {
	background: transparent;
	opacity: 1;
	border-width: 0;
}

.com-tbar.simple .search-box .prompt {
	border-color: rgba(0, 0, 0, 0) !important;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s
}

.com-tbar.simple .search-box .prompt:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.com-tbar.light-simple .menu-cont,
.com-tbar.simple .menu-cont {
	color: white;
}

.com-tbar.simple .search-box .menu-btn {
	color: white;
}

.com-tbar.simple .search-box .menu-btn:hover {
	color: #F3F3F3;
}

.com-tbar.simple .search-box .menu-btn:active {
	color: #E6E6E6;
}

.com-tbar.simple .avatar {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.com-tbar.simple .avatar-util-box .avatar-util {
	color: rgb(237, 237, 237);
}

.com-tbar.simple .banner {
	color: white;
}

.com-tbar.simple .login-btn {
	color: white;
}

.com-tbar.light-simple .avatar-box,
.com-tbar.simple .avatar-box {
	border: none;
}

@media only screen and (max-width: 640px) {
	.com-tbar.light-simple .search-box .menu-btn,
	.com-tbar.simple .search-box .menu-btn {
		padding: 0 1.5em 0 0;
	}

	.com-tbar .search-box .menu-btn {
		padding-left: 0;
		padding-right: 1.2rem;
	}
}
