
.com-upload {
	text-align: center !important;
}

/* extended dim */
.com-upload .exdim {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.com-upload .form {
	display: inline-block;
	padding: 1em;
	background: #F8F8F8;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

	font-size: 1em;

	border-radius: 3px !important;
}

.com-upload .file {
	display: none;
}

.com-upload .preview-cont {
	text-align: center;
}

.com-upload .preview {
	display: block;

	text-align: center;

	max-height: 40vh;
	max-width: 70vw;

	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

@media only screen and (max-width: 640px) {
	.com-upload .form {
		padding: 0.5em;
	}

	.com-upload .field {
		margin-bottom: 0.5em !important;
	}
}

.com-upload-field .user-search {
	height: 4rem;
	width: 100%;
	font-size: 1.2rem;
}
