
.com-upload {
	text-align: center !important;
}

/* extended dim */
.com-upload .exdim {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.com-upload .form {
	display: inline-block;
	padding: 1em;
	background: #F8F8F8;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

	font-size: 1em;

	border-radius: 3px !important;
}

.com-upload .file {
	display: none;
}

.com-upload .preview-cont {
	text-align: center;
}

.com-upload .drop-area {
	width: 30rem;
	height: 20rem;
	
	max-width: 100%;
	max-height: 100%;
	
	cursor: pointer;
	
	line-height: 20rem;
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	color: #CCCCCC;
	
	border-radius: 4px;
	border: 2px dashed #CCCCCC;
}

.com-upload.loaded .drop-area {
	display: none;
}

.com-upload .preview {
	display: block;

	text-align: center;
	
	display: none;

	max-height: 40vh;
	/* max-width: 70vw; */
	max-width: 100%;

	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.com-upload.loaded .preview {
	display: block;
}

@media only screen and (max-width: 640px) {
	.com-upload .form {
		padding: 0.5em;
	}

	.com-upload .field {
		margin-bottom: 0.5em !important;
	}
}

/* .com-upload-field .user-search {
	height: 4rem;
	width: 100%;
	font-size: 1.2rem;
} */

.com-upload-field {
	position: relative;
	display: inline-block;
	text-align: center;
}

.com-upload-field .loader {
	z-index: 0 !important;
}

.com-upload-field .display {
	border-radius: 4px;
	
	background-color: rgb(250, 250, 250);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	overflow: hidden;
	
	opacity: 1;
	
	color: rgb(150, 150, 150);
	
	text-align: center;
	font-weight: bold;
	
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);

	transition: opacity 0.3s;
}

.com-upload-field.loaded .display .upload-prompt {
	display: none;
}

.com-upload-field .display:hover {
	opacity: 0.8;
}

.com-upload-field .display:active {
	opacity: 0.9;
}

.com-upload-field.loaded .remove-btn {
	display: block;
}

.com-upload-field .remove-btn {
	display: none;
	
	position: absolute;
	right: -5px;
	top: -5px;
	
	height: 20px;
	width: 20px;
	line-height: 20px;
	
	background: #E74C3C;
	border-radius: 50%;
	color: white;
	
	text-align: center;
	
	cursor: pointer;
	font-size: 0.8em;
	
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

	transition: background 0.3s;
}

.com-upload-field .remove-btn:hover {
	background: #E66D60;
}

.com-upload-field .remove-btn:active {
	background: #E73320;
}
