.com-userhunt-modal .select-prompt {
	color: #9C9C9C;
	margin-bottom: 0.5rem;
}

.com-userhunt-modal .close-btn {
	position: absolute;

	width: 18px;
	height: 18px;

	top: -3px;
	right: -3px;

	font-size: 10px;

	text-align: center;

	background: #E74C3C;
	color: white;

	cursor: pointer;

	border-radius: 50%;

	box-shadow: 0 0 0 #E74C3C;

	transition: box-shadow 0.3s;
}

.com-userhunt-modal .close-btn:hover {
	box-shadow: 0 0 2px #E74C3C;
}

.com-userhunt-modal .close-btn i {
	line-height: 18px;
}

.com-userhunt-modal .com-avatar {
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}

.com-userhunt-modal .user-search-input {
	height: 4rem;
	width: 100%;
	font-size: 1.2rem;
}

.com-userhunt-modal .user-search .results {
	max-height: 30vh;
	overflow: auto;
	margin-top: 0.5rem;
}

.com-userhunt-modal .user-search .results .result {
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.com-userhunt-modal .user-search .results .result-avatar {
	display: inline-block;

	width: 3rem;
	height: 3rem;
	border-radius: 5px;

	background-color: rgba(245, 245, 245, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	vertical-align: top;
}

.com-userhunt-modal .user-search .results .result-info {
	display: inline-block;
	margin-left: 1rem;

	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.com-userhunt-modal .user-search .results .result * {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media only screen and (max-width: 640px) {
	.com-userhunt-modal .user-search-input {
		height: 3rem;
		font-size: 1rem;
	}
}
