body {
	background: #F5F5F5;
}

#port-main {
	position: absolute;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	font-family: Ubuntu;
}

#port-login {
	position: absolute;

	left: 0;
	top: 0;

	height: 100%;
	width: 100%;

	background: #1B1A1C;

	text-align: center;

	transition: opacity 0.5s;
}

#port-login-board {
	display: inline-block;

	width: 19em;
	height: 17em;
	margin-top: -1em;

	background: #F5F5F5;
	border-radius: 5px;

	box-shadow:
		0 5px 20px rgba(0, 0, 0, 0.05),
		0 15px 30px -10px rgba(0, 0, 0, 0.3);

	font-family: Ubuntu;

	transition: background 0.3s;
}

#port-tbar {
	top: 0;
	left: 0;

	height: 4em;
	width: 100%;

	border-radius: 2px 2px 0 0;

	background: #1F1F1F;
	color: #E6E6E6;
}

#port-cont {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	text-align: left;
}

.port-header {
	padding: 3em 0;
	background: #1F1F1F;
	color: #E6E6E6;
	text-align: center;
	box-shadow: 0 -0.5em 1em rgba(0, 0, 0, 0.8) inset;
	overflow: hidden;

	transition: height 0.5s;
}

#port-icon {
	display: inline-block;

	width: 10em;
	height: 10em;
	border-radius: 50%;

	box-shadow: 0 0 2em rgba(0, 0, 0, 1);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	transition: all 0.5s;
}

#port-dname {
	font-size: 1.7em;
	font-weight: bold;

	margin-top: 0.5em;
	transition: all 0.5s;
}

#port-school-box {
	font-size: 0.9em;
	margin-top: 0.5em;
	transition: all 0.5s;
}

#port-intro {
	display: inline-block;
	margin-top: 2em;
	max-width: 20em;
}

.port-header-min {
	height: 3em;
	padding: 1em;
	text-align: left;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.port-header-min #port-icon {
	height: 3em;
	width: 3em;
	transition: none;
}

.port-header-min #port-dname {
	display: none;
}

.port-header-min #port-school-box {
	display: none;
}

.port-header-min #port-intro {
	display: none;
}

#port-button-set {
	margin-left: 1em;

	color: #E6E6E6;

	display: none;
}

.port-header-min #port-button-set {
	display: inline-block;
}

#port-event-board {
	text-align: center;
	margin: 1em 0;
}

.port-event {
	display: inline-block;

	width: 40em;

	padding: 0;
	margin: 1em 0;

	background: white;
	border-radius: 4px;

	text-align: left;
	cursor: pointer;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

	transition: box-shadow 0.3s;
}

.port-event:hover {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#port-event-msg {
	color: #4D4D4D;
	display: none;
}

.port-event-tbar {
	position: relative;
	
	top: 0;
	left: 0;

	background: #27AE60;
	color: #E6E6E6;
	
	border-radius: 4px 4px 0 0;
	padding: 1em 2em;

	transition: opacity 0.3s;
}

.port-event-tbar:hover {
	opacity: 0.9;
}

.port-event-title {
	font-size: 1.5em;
	font-weight: bold;
}

.port-event-cont {
	padding: 2em;
	color: #4C4C4C;
}
