body {
	background: #E6E6E6;
	font-family: Ubuntu;
}

.search-main-hide {
	top: -100% !important;
}

#search-main {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #333B8D;

	top: 0;

	transform-origin: 50% 100% 0;
	transition: top 1s cubic-bezier(0.2, 1, 0.2, 1);
}

#search-main-box {
	position: relative;
	text-align: center;
	transition: top 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}

.search-foci {
	font-family: Alegreya;
	font-weight: bold;

	color: #313131;
	cursor: default;

	user-select: none;
	-moz-user-select: none;
}

.search-search-input {
	display: inline-block;

	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	outline: none;

	width: 100%;

	font-size: 4em;

	padding: 0.5em;

	background: #242963;
	color: white;

	font-family: Alegreya;
	font-weight: bold;

	text-align: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.search-search-box {
	display: inline-block;
	
	width: 40em;
	max-width: 80%;

	text-align: left;
	border-radius: 4px;

	overflow: hidden;
}

.search-favtag {
	display: inline-block;
	
	padding: 0.7em;
	font-size: 1.5em;
	color: white;

	cursor: pointer;

	background: #2980B9;
	color: #D8D8D8;

	transition: background 0.3s;

	vertical-align: top;

	user-select: none;
	-moz-user-select: none;
}

.search-favtag-odd {
	background: #236FA1;
}

.search-favtag-add-open {
	background: #2F93D4;
	cursor: default;
}

#search-favtag-add-icon {
	cursor: pointer;
	pointer-events: none;
}

.search-favtag-add-open > #search-favtag-add-icon {
	pointer-events: auto;
}

.search-favtag:hover:not(.search-favtag-selected):not(.search-favtag-add) {
	background: #3498DB;
}

.search-favtag-selected {
	background: #242963;
}

#search-favtag-add-form {
	display: none;
	padding-top: 0.5em;
}

.search-favtag-add-open > #search-favtag-add-form {
	display: block;
}

.search-input {
	display: inline-block;

	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	outline: none;

	background: #236D9E;
	color: white;
	
	padding: 0.7em 0.8em;
	margin: 0.2em 0;

	font-size: 0.8em;
	font-weight: bold;

	border-radius: 3px;
}

#search-result {
	text-align: center;
	overflow: hidden;
}

#search-result-cont {
	display: inline-block;
	max-width: 90%;
	text-align: left;
	margin: 1em 0;
}

#search-result-search-box {
	width: 100%;
	padding: 1em;
	background: #333333;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5) inset;
}

.search-result-search-box-input {
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	outline: none;

	font-size: 2em;
	width: 100%;

	color: white;
}

.search-result-box {
	z-index: 10;

	display: inline-block;
	vertical-align: top;

	margin: 0.5em 0.25em;

	width: 14em;
	height: 10em;
	padding: 5px;

	background: #FAFAFA;
	border-radius: 2px;

	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	text-align: left;

	cursor: pointer;

	transition: box-shadow 0.3s;
}

.search-result-box:hover {
	z-index: 10000;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.search-result-box-pic {
	height: 85%;
	border-radius: 2px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.search-result-box-cont {
	position: relative;
	height: 15%;
	padding: 0 5px;
	font-family: Alegreya;
}

@media only screen and (max-width: 600px) {
	.search-main {
		font-size: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.search-main {
		font-size: 7px;
	}
}

.rotatex {
	animation: rotatex 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	-moz-animation: rotatex 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	-webkit-animation: rotatex 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	-o-animation: rotatex 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes rotatex
{
	from { transform: perspective(1000px) rotateX(0deg); }
	to { transform: perspective(1000px) rotateX(90deg); }
}

@-moz-keyframes rotatex
{
	from { transform: perspective(1000px) rotateX(0deg); }
	to { transform: perspective(1000px) rotateX(90deg); }
}

@-webkit-keyframes rotatex
{
	from { transform: perspective(1000px) rotateX(0deg); }
	to { transform: perspective(1000px) rotateX(90deg); }
}

@-o-keyframes rotatex
{
	from { transform: perspective(1000px) rotateX(0deg); }
	to { transform: perspective(1000px) rotateX(90deg); }
}
