body {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

* { outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
button { padding: 0; user-select: none; -moz-user-select: none; }

.input-no-style {
	margin: 0;
	padding: 0;
	background: 0;
	outline: none;
	border: 0;
	resize: none;
	border-radius: 0;
}

.ui.two.buttons>.button {
	display: block !important;
}

/*
.uix.loader {
	display: none;

	position: absolute;

	top: 50%;
	left: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	width: 3em;
	height: 3em;
}

.uix.loader.active {
	display: block;
}

.uix.loader>div,
.uix.loader>div>div,
.uix.loader>div>div>div {
	width: 100%;
	height: 100%;
}

.uix.loader,
.uix.loader>div,
.uix.loader>div>div {
	border-radius: 50%;
	border: 2px solid transparent;
	padding: 3px;

	animation-name: uix-loader-rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 2s;
}

.uix.loader {
	border-top-color: #BDC3C7;
	border-bottom-color: #7F8C8D;
}

.uix.loader>div {
	border-bottom-color: #BDC3C7;
	border-top-color: #7F8C8D;
}

.uix.loader>div>div {
	border-top-color: #BDC3C7;
	border-bottom-color: #7F8C8D;
}

@keyframes uix-loader-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
*/

/*
.uix.loader {
	display: none;
	position: absolute;

	top: 50%;
	left: 50%;

	width: 0.7em;

	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.uix.loader.active {
	display: block;
}

.uix.loader:before,
.uix.loader:after {
	content: "";
}

.uix.loader:before,
.uix.loader:after {
	position: absolute;

	height: 1em;
	width: 1em;
	border-radius: 50%;
	background: rgba(80, 80, 80, 0.7);
}

.uix.loader:before {
	left: -100%;
}

.uix.loader:after {
	top: 0;
	left: 100%;
}

.uix.loader:before {
	animation: uix-loader-scale 0.4s linear infinite alternate;
}

.uix.loader:after {
	animation: uix-loader-scale 0.4s linear 0.2s infinite alternate;
}

@keyframes uix-loader-scale {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.3);
	}
}
*/
