body {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.safari-smooth-scroll { -webkit-overflow-scrolling: touch; }

* { outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
button { padding: 0; user-select: none; -moz-user-select: none; }

.input-no-style {
	margin: 0;
	padding: 0;
	background: 0;
	outline: none;
	border: 0;
	resize: none;
	border-radius: 0;
	
	-webkit-appearance: none;
}

.ui.ll.dimmer {
	z-index: 10 !important;
}

.ui.two.buttons>.button {
	display: block !important;
}

.ui.button.frameless {
    border: none !important;
    padding: 0 !important;
	background: none !important;
	box-shadow: none !important;
}

.ui.button.basic.positive.frameless,
.ui.button.basic.negative.frameless {
	box-shadow: none !important;
}

.ui.popup {
	max-width: initial !important;
}

a {
	cursor: pointer;
}

/* .uix.loader {
	pointer-events: none;
	opacity: 0;

	position: absolute;

	top: 50%;
	left: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	width: 3em;
	height: 3em;
	
	transition: opacity 0.3s;
}

.uix.loader.active {
	opacity: 1;
	pointer-events: auto;
}

.uix.loader .path {
	stroke: #3498DB;
	stroke-linecap: round;

	-webkit-animation: uix-loader-dash 1.6s ease-in-out infinite;
	animation: uix-loader-dash 1.6s ease-in-out infinite;
	
	transition: stroke-dasharray 0.2s;
}

.uix.loader .circle {
	-webkit-animation: uix-loader-rotate 0.8s linear infinite;
	animation: uix-loader-rotate 0.8s linear infinite;
}

@keyframes uix-loader-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes uix-loader-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes uix-loader-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes uix-loader-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes uix-loader-dash {
	0% {
		stroke-dasharray: 1, 300;
	}
	
	50% {
		stroke-dasharray: 50, 300;
	}
	
	100% {
		stroke-dasharray: 1, 300;
	}
}

@-webkit-keyframes uix-loader-dash {
	0% {
		stroke-dasharray: 1, 300;
	}
	
	50% {
		stroke-dasharray: 50, 300;
	}
	
	100% {
		stroke-dasharray: 1, 300;
	}
}

@-moz-keyframes uix-loader-dash {
	0% {
		stroke-dasharray: 1, 300;
	}
	
	50% {
		stroke-dasharray: 50, 300;
	}
	
	100% {
		stroke-dasharray: 1, 300;
	}
}

@-o-keyframes uix-loader-dash {
	0% {
		stroke-dasharray: 1, 300;
	}
	
	50% {
		stroke-dasharray: 50, 300;
	}
	
	100% {
		stroke-dasharray: 1, 300;
	}
} */

.vcenter {
	position: relative;
	top: 50%;
	
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.avcenter {
	position: absolute;
	top: 50%;
	
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.foci-only-admin {
	display: none;
}

body.foci-level-admin .foci-only-admin {
	display: initial;
}

.foci-only-root {
	display: none;
}

body.foci-level-root .foci-only-root {
	display: initial;
}

.foci-only-login {
	display: none;
}

body.foci-login .foci-only-login {
	display: initial;
}
