@charset "UTF-8";

@font-face {
	font-family: "Brandon";
	src: url("/font/brandon/brandon.woff2") format("woff2"),
		 url("/font/brandon/brandon.woff") format("woff"),
		 url("/font/brandon/brandon.ttf") format("truetype"),
		 url("/font/brandon/brandon.eot") format("embedded-opentype"),
		 url("/font/brandon/brandon.svg") format("svg"),
		 url("/font/brandon/brandon.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
